body {
    background-image: url(../images/school.png) !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #262626;
}

.line-through {
    text-decoration: line-through;
}

ul .row {
    margin-top: 10px;
    margin-bottom: 10px;
}
